@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-text {
  background: linear-gradient(to right, rgb(53, 120, 221), rgb(241, 236, 239));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
